<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Web Page Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    {% block additional_css %}{% endblock %}
    
</head>
<body id="Bbody" class="light-mode">
    <div class="dark-circle">
        <div class="lighted-circle"></div>
    </div>

    <header id="Hheader" class="light-mode">
        <a href="{{ url_for('main') }}" id="logo"><img src="{{ url_for('static', filename='header-logo.png') }}" alt="Header Image" height="50"></a>
        <nav>
            <a href="{{ url_for('page_2') }}">page 2</a>
            <a href="{{ url_for('page_3') }}">About us</a>
        </nav>
        <div class="sliderGroup">
            <label class="switch">
                <input type="checkbox" id="realDarkToggle" class="realDark">
                <span class="slider"></span>
            </label>
            <label class="switch">
                <input type="checkbox" id="normalDarkToggle" class="normalDark">
                <span class="slider"></span>
            </label>
        </div>
         
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='base.js') }}"></script>

</body>
</html>
