<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Web Page Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <header>
        <a href="{{ url_for('main') }}" id="logo"><img src="{{ url_for('static', filename='header-logo.png') }}" alt="Header Image" height="50"></a>
        <nav>
            <a href="{{ url_for('page_2') }}">page 2</a>
            <a href="{{ url_for('page_3') }}">About us</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>
