{% extends "base.html" %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block title %}Page 1{% endblock %}

{% block content %}
<div class="search">
    <div class="fire-container">
        {% include 'loading-animations.html' %}

        <img id="search-logo" src="{{ url_for('static', filename='logo.png') }}" alt="Search Logo" height="92"
            width="272">
    </div>
    <div class="search-container">
        <div class="search-box">
            <input type="text" id="ingredient-field" name="q" placeholder="Input ingredients here">
            
        </div>

        <button type="submit" class="something-else" id="add-tag">Add</button>
        <button type="submit" class="search-button" id="search-button">Search</button>
        <button type="submit" class="something-else" id="something-else">Feeling Lazy</button>





    </div>
    
    <div class="special-input">


        <div class="portions">
            <label for='Portions-dd'><b id="portions-id">Portions</b></label>
            <select id='Portions-dd' name='Portions'>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
            </select>
        </div>
        
        <div class="kitchen-input">
            <label for="kitchens"><b id="portions-id">Kitchen:</b></label>
            <select id="kitchens" name="kitchens">
                {% for kitchen in kitchens %}
                <option value="{{ kitchen }}">{{ kitchen }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="dropdown">
            <label><b>Dietary Restrictions</b></label>
            <button class="dropbtn" (click)="showDropDown=!showDropDown">
                Select
            <div class="dropdown-content">
                <label><input type="checkbox" value="lactose">Lactose</input></label>
                <label><input type="checkbox" value="gluten">Gluten</input></label>
                <label><input type="checkbox" value="vegetarian">Vegetarian</input></label>
                <label><input type="checkbox" value="vegan">Vegan</input></label>
                <label><input type="checkbox" value="pescetarian">Pescetarian</input></label>
                <label><input type="checkbox" value="kosher">Kosher</input></label>
                <label><input type="checkbox" value="keto">Keto</input></label>
                <label><input type="checkbox" value="fishAllergy">Fish Allergy</input></label>
                <label><input type="checkbox" value="nutAllergy">Nut Allergy</input></label>
                <label><input type="checkbox" value="eggAllergy">Egg Allergy</input></label>
                <label><input type="checkbox" value="soyAllergy">Soy Allergy</input></label>
            </div>
        </button>
        </div>
        

        <div class=units>
            <label for='Units-dd'><b>Unit</b></label>
            <select id='Units-dd' name='Units'>
                <option value='metric (do not use cups, only metric units)'>Metric</option>
                <option value='US cups'>US cups</option>
                <option value='imperial'>Imperial</option>
            </select>
        </div>
    </div>
    <div class="tag-container" id="tag-container">

        <span class="tag">Pasta</span>
        <span class="tag">Pizza</span>
        <span class="tag">Sushi</span>
        <span class="tag">Steak</span>
        <span class="tag">Salad</span>
        <span class="tag">Soup</span>
        <span class="tag">Bread</span>
        <span class="tag">Rice</span>
        <span class="tag">Fish</span>
        <span class="tag">Chicken</span>
    </div>


</div>


</div>
</div>

<script src="{{ url_for('static', filename='animation-script.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}