{% extends "base.html" %}

{% block title %}Page 3{% endblock %}

{% block content %}
<div class="Container">
    <div class="AboutPage">
        <h1>About</h1>
        <div class="AboutField">
            
            <p class="AboutText">
                <strong>Alignment to the UN Sustainability Goals</strong>
            </p>
            <p class="AboutText">
                Our mission is to address the global issue of food waste, which closely aligns with the UN's Sustainable Development Goal 12. 
                This goal emphasizes responsible consumption and production. 
                Food production consumes precious resources like energy and water. 
                Unfortunately, when we waste food, these resources are squandered. 
                Additionally, transporting food via fossil fuel-powered vehicles contributes to harmful carbon emissions. 
                By reducing food waste, we can significantly curb carbon dioxide emissions.
            </p>
            <p class="AboutText">
                To put it into perspective, 
                the UN's Food and Agriculture Organization reports that food waste accounts for nearly ten percent of global greenhouse gas emissions. 
                In some regions, wasted food ends up in landfills, where it decomposes and produces methane gas, 
                a potent heat-trapping greenhouse gas, according to the U.S. 
                Environmental Protection Agency. Hence, food waste is a pressing international problem.
            </p>
            <p class="AboutText">
                Our project aims to combat these challenges by empowering households to make efficient use of 
                ingredients they already have for their everyday meals. In doing so, 
                we strive to contribute to the following UN subgoals:
            </p>
            <ul class="SubGoalsList">
                <li class="SubGoal">
                    <strong>12.3:</strong> "By 2030, halve per capita global food waste at the retail and consumer 
                    levels and reduce food losses along production and supply chains, including post-harvest losses."
                    <br>
                    Our project actively promotes responsible food consumption and helps households use their ingredients more efficiently, 
                    thereby working towards this subgoal.
                </li>
                <li class="SubGoal">
                    <strong>12.5:</strong> "By 2030, substantially reduce waste generation through prevention, reduction, recycling, and reuse."
                    <br>
                    We also contribute to this subgoal by placing a strong emphasis on waste reduction and encouraging the efficient use of resources.
                </li>
            </ul>
        </div>
    </div>

    <div class="DropDowns" >
        <div class="dropdown" >
            
            <h1>What can i do to minimize my food waste?</h1>
            <img class="arrow-icon" src="{{ url_for('static', filename='arrow.png') }}" alt="Up Arrow" >
            <div class="dropdown-content">
                <a>Hmm</a>
                <p>Try harder</p>
            </div>
        </div>
    
        <div class="dropdown" >
            <img class="arrow-icon" src="{{ url_for('static', filename='arrow.png') }}" alt="Up Arrow">
            <h1>Why can i not search for recipes that includes poisonous ingredients? </h1>
            <div class="dropdown-content">
                <a>U serious?</a>
                <p>Getting a bit worried here</p>
            </div>
        </div>

        <div class="dropdown" >
            <img class="arrow-icon" src="{{ url_for('static', filename='arrow.png') }}" alt="Up Arrow">
            <h1>Do you track my search history and share it to local authorities?</h1>
            <div class="dropdown-content">
                <a>No</a>
                <p>But starting to think we should</p>
            </div>
        </div>

        <div class="dropdown" >
            <img class="arrow-icon" src="{{ url_for('static', filename='arrow.png') }}" alt="Up Arrow">
            <h1>Should i be worried?</h1>
            <div class="dropdown-content">
                <a>Yes</a>
                <p>Police is on their way</p>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='about.js') }}"></script>

{% endblock %}
