{% extends "base.html" %}

{% block title %}Page 1{% endblock %}

{% block content %}
<div class ="AboutPage">
    <h1>About</h1>
    <div class="AboutField">
        <textField>
            Alignment to the UN Sustainability Goals
            Reducing food waste aligns with the UN's Sustainable Development Goal 12, emphasizing responsible consumption and production. Food production requires valuable resources like energy and water. When we waste food, the resources needed to produce the food have been used unnecessarily. Additionally, transporting food via fossil fuel-powered vehicles leads to carbon emissions. If we can minimize food waste, it will generate less carbon dioxide emissions.
            According to the UN agency Food and Agriculture Organization, food waste contributes to nearly ten percent of global greenhouse gas emissions. In some countries, food waste can end up in landfills. The problem with this is that the decomposition process produces methane gas. According to the U.S. Environmental Protection Agency, methane traps heat more efficiently than carbon dioxide. So, food waste is a big international problem.
            By efficiently using food and avoiding unnecessary waste, we can take a significant step towards combating climate change. Our project aims to help achieve the following subgoals:
            <br></br>
            <br></br>
            12.3 "By 2030, halve per capita global food waste at the retail and consumer levels and reduce food losses along production and supply chains, including post-harvest losses".
            <br></br>
            The project will meet this subgoal by helping households more efficiently use ingredients that they already have in their everyday food making.
            <br></br>
            The project will also help to reduce waste, thus also align with the following subgoal:
            <br></br>
            12.5 "By 2030, substantially reduce waste generation through prevention, reduction, recycling and reuse."



        </textField>




    </div>
</div>


{% endblock %}
